@page "/bancada-completa"
@namespace Simulador1.Pages

<Bancada>
    <div class="grid-bancada">
        <div class="modulo-wrapper modulo-botoes">
            <div class="modulo-titulo">ACIONADORES MANUAIS</div>
            <div class="componente-container">
                <OnOff />
                <BotaoEmergencia />
            </div>
        </div>

        <div class="modulo-wrapper modulo-controladora">
            <div class="modulo-titulo">MÓDULO CENTRAL DE ALARME DE INCÊNDIO</div>
            <div class="componente-container">
                <Controladora />
            </div>
        </div>

        <div class="modulo-wrapper modulo-acionador-incendio">
            <div class="modulo-titulo">BOTOEIRA DE INCÊNDIO</div>
            <div class="componente-container">
                <BotaoIncendio />
            </div>
        </div>

        <div class="modulo-wrapper modulo-disjuntores">
            <div class="modulo-titulo">DISJUNTORES</div>
            <div class="componente-container">
                <Disjuntores />
                <Led />
            </div>
        </div>

        <div class="modulo-wrapper modulo-sirene">
            <div class="modulo-titulo">SINALIZADOR AUDIOVISUAL</div>
            <div class="componente-container">
                <Sirene />
            </div>
        </div>

        <div class="modulo-wrapper modulo-sensores modulo-fumaca">
            <div class="modulo-titulo">MÓDULO DETECTOR DE FUMAÇA</div>
            <div class="componente-container">
                <SensorFumaca />
            </div>
        </div>

        <div class="modulo-wrapper modulo-sensores modulo-temperatura">
            <div class="modulo-titulo">MÓDULO DETECTOR DE TEMPERATURA</div>
            <div class="componente-container">
                <SensorTemp />
            </div>
        </div>

        <div class="modulo-wrapper modulo-sensores modulo-gas">
            <div class="modulo-titulo">MÓDULO SENSOR DE GÁS</div>
            <div class="componente-container">
                <SensorGas />
            </div>
        </div>
    </div>
</Bancada>