@namespace Simulador1.Pages
@rendermode InteractiveAuto
@using Simulador1.Client.Services
@inject BancadaState Bancada
@inject ControladoraState Controladora

@implements IDisposable

<div class="caixa-acionador">
    <div class="topo-translucido">
        <div class="led-indicador @((Bancada.IsPressionado && Bancada.IsOn) ? "led-ativo" : "")" aria-hidden="true"></div>
    </div>

    <div class="botao-branco @(Bancada.IsPressionado ? "pressionado" : "")" @onclick="AtivarBotao" role="button" aria-pressed="@Bancada.IsPressionado">
        <div class="texto-alarme">Em Caso de Incêndio<br />Pressione o botão</div>
        <div class="setas-container" aria-hidden="true">
            <div class="seta seta-esquerda">←</div>
            <div class="circulo-central"></div>
            <div class="seta seta-direita">→</div>
        </div>
    </div>

    <div class="mecanismo-chave-container"
         @onclick="HandleEntradaClick"
         role="button"
         tabindex="0">

        <div class="encaixe-fundo">
            <div class="encaixe-rect" aria-hidden="true"></div>
            <div class="encaixe-circle" aria-hidden="true"></div>
        </div>

        <div class="chave ">
            <div class="chave-rect"></div>
            <div class="chave-circle"></div>
        </div>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        Bancada.OnChange += OnBancadaStateChanged;
    }

    private void OnBancadaStateChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    private void AtivarBotao()
    {
        if (!Bancada.IsPressionado)
        {
            Bancada.Pressionar();
            if (Controladora.IsOn)
            {
                Controladora.DisplayAlarme("Botão de Incêndio");
            }
        }
    }

    private void HandleEntradaClick()
    {
        Bancada.ResetarBotao();
    }

    public void Dispose()
    {
        if (Bancada != null)
        {
            Bancada.OnChange -= OnBancadaStateChanged;
        }
    }
}