@page "/botaoemergencia"
@namespace Simulador1.Pages
@rendermode InteractiveAuto
@using Simulador1.Client.Services
@inject BancadaState Bancada

@implements IDisposable

<div class="emergencia-container">
    <div class="base-amarela">
        <svg class="texto-circular" viewBox="0 0 200 200">
            <defs>
                <path id="circulo-texto-emergencia" d="M 100,100 m -75,0 a 75,75 0 1,1 150,0 a 75,75 0 1,1 -150,0" />
            </defs>
            <text fill="black">
                <textPath href="#circulo-texto-emergencia" startOffset="50%" text-anchor="middle">
                    EMERGÊNCIA
                </textPath>
            </text>
        </svg>
        <div class="botao-vermelho @(pressionado ? "pressionado" : "")" @onclick="PressionarBotao"></div>
    </div>
</div>

@code {
    private bool pressionado = false;

    protected override void OnInitialized()
    {
        Bancada.OnChange += OnBancadaStateChanged;
        pressionado = Bancada.IsEmergencyActive;
    }

    private void OnBancadaStateChanged()
    {
        if (pressionado != Bancada.IsEmergencyActive)
        {
            pressionado = Bancada.IsEmergencyActive;
        }
        InvokeAsync(StateHasChanged);
    }

    private void PressionarBotao()
    {
        pressionado = !pressionado;
        Bancada.ToggleEmergency();
    }

    public void Dispose()
    {
        if (Bancada != null)
        {
            Bancada.OnChange -= OnBancadaStateChanged;
        }
    }
}