@page "/disjuntores"
@namespace Simulador1.Pages
@rendermode InteractiveAuto
@inject Simulador1.Client.Services.BancadaState Bancada

<div class="disjuntor-geral-container">
    <div class="disjuntor-corpo-principal">
        <div class="disjuntor-secao dr-secao">
            <div class="base-rebaixada">

                <div class="secao-alavanca" @onclick="AlternarDR">
                    <div class="base-chave-slot mcb-slot"></div>

                    <div class="dr-alavanca @(Bancada.DrLigado ? "ligado" : "")">
                        <div class="dr-alavanca-puxador-laranja"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="disjuntor-secao mcb-secao">
            <div class="base-rebaixada">
                <div class="secao-alavanca" @onclick="AlternarMCB">
                    <div class="base-chave-slot mcb-slot">
                        <div class="mcb-alavanca-puxador"></div>
                    </div>

                    <div class="mcb-alavanca @(Bancada.McbLigado ? "ligado" : "")"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        Bancada.OnChange += StateHasChanged;
    }

    private void AlternarDR() { Bancada.ToggleDR(); }
    private void AlternarMCB() { Bancada.ToggleMCB(); }

    public void Dispose()
    {
        Bancada.OnChange -= StateHasChanged;
    }
}