@namespace Simulador1.Pages
@rendermode InteractiveAuto
@using Simulador1.Client.Services
@inject BancadaState Bancada
@implements IDisposable

<div class="led-container">
    <div class="led @(Bancada.McbLigado && Bancada.DrLigado && !Bancada.IsEmergencyActive ? "aceso" : "apagado")"></div>

</div>

@code {
    protected override void OnInitialized()
    {
        Bancada.OnChange += OnBancadaStateChanged;
    }

    private void OnBancadaStateChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        if (Bancada != null)
        {
            Bancada.OnChange -= OnBancadaStateChanged;
        }
    }
}