@page "/onoff"
@namespace Simulador1.Pages
@rendermode InteractiveAuto
@using Simulador1.Client.Services
@inject Simulador1.Client.Services.BancadaState Bancada
@implements IDisposable

<div class="switch-container" @onclick="Toggle">
    <div class="rotary-base">
        <div class="rotary-knob">

            <div class="knob-bar @(Bancada.OnOffSwitchPosition ? "pos0" : "pos1")">
                <div class="screw-dot"></div>
            </div>
        </div>
        <div class="label label-0">0</div>
        <div class="label label-1">1</div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        Bancada.OnChange += HandleStateChange;
    }

    private async void HandleStateChange()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        Bancada.OnChange -= HandleStateChange;
    }

    private void Toggle()
    {
        Bancada.ToggleOnOffSwitch();
    }
}