.detector-container {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;
}

.detector-fumaca {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 8px;
}

.base-detector {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.15), 0 4px 8px rgba(0,0,0,0.1);
}

.corpo-detector {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    border-radius: 50%;
    box-shadow: inset 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.led-indicador {
    position: absolute;
    top: 22px;
    width: 6px;
    height: 6px;
    background-color: #333;
    border-radius: 50%;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.5);
    z-index: 10;
    transition: background-color 0.3s;
}

    .led-indicador.led-ativo {
        animation: piscar 1s infinite;
    }

@keyframes piscar {
    0%, 100% {
        background-color: #e60000;
        box-shadow: 0 0 8px 2px rgba(255, 0, 0, 0.7), inset 0 1px 2px rgba(255,150,150,0.5);
    }

    50% {
        background-color: #5c0000;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.5);
    }
}

.grelha-container {
    position: absolute;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.raio-grelha {
    position: absolute;
    width: 8px; 
    height: 100%; 
    background-color: #e0e0e0;
    box-shadow: 0 2px 2px rgba(0,0,0,0.05);
}

.circulo-grelha {
    position: absolute;
    border-radius: 50%;
    border: 8px solid #e0e0e0;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.circulo-interno {
    width: 45px;
    height: 45px;
}

.circulo-externo {
    width: 100%;
    height: 100%;
    border-width: 10px;
    border-color: transparent;
}

.hub-central {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #333;
    border-radius: 50%;
    border: 2px solid #555;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.4);
}

.slider {
    display: flex;
    width: 100%;
    max-width: 216px;
    height: 48px;
    background: white;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 8px;
    flex-wrap: nowrap;
    gap: 8px;
}