@namespace Simulador1.Pages
@rendermode InteractiveAuto
@using Simulador1.Client.Services
@inject BancadaState Bancada
@implements IDisposable


<div class="sirene-container">
    <div class="sirene @(alarmeAtivo ? "ativa" : "")">
        <div class="relevo relevo1"></div>
        <div class="relevo relevo2"></div>
        <div class="relevo relevo3"></div>
        <div class="led-central @(alarmeAtivo ? "led-ativo" : "")"></div>
    </div>
</div>

@code {
    private bool alarmeAtivo = false;

    protected override void OnInitialized()
    {
        Bancada.OnChange += OnStateChanged;
        UpdateSireneState();
    }

    private void OnStateChanged()
    {
        InvokeAsync(UpdateSireneState);
    }

    private void UpdateSireneState()
    {
        alarmeAtivo = Bancada.IsSireneAtiva;
        StateHasChanged();
    }

    public void Dispose()
    {
        if (Bancada != null)
        {
            Bancada.OnChange -= OnStateChanged;
        }
    }
}