.detector-fiel-container[b-lyi7o434zu] {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 8px;
}

.detector-fiel[b-lyi7o434zu] {
    position: relative;
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease-in-out; 
}

    .detector-fiel.removido[b-lyi7o434zu] {
        transform: translateY(-50px) rotate(10deg); 
    }

.base-sombra[b-lyi7o434zu] {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 8px 20px rgba(0,0,0,0.12), 0 5px 8px rgba(0,0,0,0.1);
}

.corpo-detector[b-lyi7o434zu] {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(145deg, #ffffff, #f0f0f0);
    border-radius: 50%;
    border: 1px solid #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.led-indicador[b-lyi7o434zu] {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    background-color: #333;
    border-radius: 50%;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.5);
    transition: background-color 0.3s;
}

    .led-indicador.led-ativo[b-lyi7o434zu] {
        animation: piscar-b-lyi7o434zu 1s infinite;
    }

@keyframes piscar-b-lyi7o434zu {
    0%, 100% {
        background-color: #e60000;
        box-shadow: 0 0 8px 2px rgba(255, 0, 0, 0.7), inset 0 1px 2px rgba(255,150,150,0.5);
    }

    50% {
        background-color: #5c0000;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.5);
    }
}

.area-sensor[b-lyi7o434zu] {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.anel-rebaixado-escuro[b-lyi7o434zu] {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #111;
    border-radius: 50%;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.9);
}

.raios-container[b-lyi7o434zu] {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.raio-ponte[b-lyi7o434zu] {
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: #f5f5f5;
}

.disco-central-branco[b-lyi7o434zu] {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

.slider[b-lyi7o434zu] {
    display: flex;
    width: 100%;
    max-width: 216px;
    height: 48px;
    background: white;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 8px;
    flex-wrap: nowrap;
    gap: 8px;
}