.sirene-container[b-8s9tq4nb5j] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

.sirene[b-8s9tq4nb5j] {
    width: 120px;
    height: 120px;
    background-color: #b30000;
    border-radius: 20px;
    position: relative;
    box-shadow: inset 0 0 10px #660000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
}

    .sirene.ativa[b-8s9tq4nb5j] {
        animation: sirenePiscar-b-8s9tq4nb5j 1s infinite;
    }

@keyframes sirenePiscar-b-8s9tq4nb5j {
    0%, 100% {
        background-color: #ff0000;
        box-shadow: 0 0 20px #ff0000, inset 0 0 10px #ff0000;
    }

    50% {
        background-color: #b30000;
        box-shadow: 0 0 10px #990000, inset 0 0 5px #800000;
    }
}

.relevo[b-8s9tq4nb5j] {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    position: absolute;
    border: 4px solid #8b0000;
    box-sizing: border-box;
}

.relevo1[b-8s9tq4nb5j] {
    transform: rotate(0deg);
}

.relevo2[b-8s9tq4nb5j] {
    transform: rotate(120deg);
}

.relevo3[b-8s9tq4nb5j] {
    transform: rotate(240deg);
}

.led-central[b-8s9tq4nb5j] {
    width: 20px;
    height: 20px;
    background-color: #330000;
    border-radius: 50%;
    position: absolute;

    box-shadow: 0 0 4px #000000 inset;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.led-ativo[b-8s9tq4nb5j] {
    background-color: red;
    box-shadow: 0 0 15px red, 0 0 5px #ff0000;
}

.botao-alarme[b-8s9tq4nb5j] {
    background-color: #cc0000;
    color: white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 0.4em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

    .botao-alarme:hover[b-8s9tq4nb5j] {
        background-color: #990000;
    }

